/* --- Custom File Input --- */
#btn-upload {
  color: transparent !important;
}

#btn-upload::-webkit-file-upload-button {
  visibility: hidden;
}
#btn-upload::before {
  content: 'Enviar fotos';
  display: inline-block;
  color: black;
  width: 100%;
  text-align: center;
}

#btn-upload.is-loading::before {
  content: 'Enviando, por favor aguarde...';
}
#btn-upload.is-loading::after {
  display: none; /* Remove the spinner */
}

.thumbnail {
  object-fit: cover !important;
  height: 105px !important;
}

.thumbnail.skeleton-block {
  margin-bottom: 0;
}

.modal-content {
  display: flex;
  place-content: center;
  max-height: 90%;
  width: 90%;
  animation: zoomIn 0.3s;
}

.modal-content-imgs {
  position: absolute;
}

#modal-tiny-img {
  position: absolute;
  height: 100%;
  filter: blur(3px) grayscale(60%);
}

#modal-img {
  /* background-color: #2e333d8f; */
  border: 1px solid white;
}

#modal-del {
  position: fixed;
  top: 1rem;
  left: 1rem;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #2e333de4;
}

.modal-close {
  border: 1px solid white;
  background-color: #2e333de4;
}

.btn-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.btn-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

#progress {
  display: none;
}
#progress.is-active {
  display: flex;
}

#logo {
  display: flex;
  place-content: center;
  background-image: url('./assets/logo_w.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.trash-ico {
  width: 0.9em;
  content: url('./assets/trash-icon.svg');
}

@media (prefers-color-scheme: dark) {
  #logo {
    background-image: url('./assets/logo_b.png');
  }
}

@keyframes zoomIn {
  0% {
    /* from */
    transform: scale(0);
  }
  100% {
    /* to */
    transform: scale(1);
  }
}
